 body{
    background: #000000;
    color: #ffffff;
    padding: 0rem 2rem 1rem 1rem;
    height: 28rem;
 }
 
 /* header component css*/
 .header-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10rem;
 }
 .logo{

}
.logo-image{
    width: 3rem;
    height: 3rem;
}
.header-link-container{
   display: flex;
   flex-wrap: wrap;
    gap: 2rem;
}
 .header-links{
    text-decoration: none;
    color: #ffffff;
 }
 .header-links:hover{
    color: blueviolet;
 }

 .search-bar{
    background: #000000;
    color: #ffffff;
 }

